.orders-container {
    margin: 20px auto;
    width: 1190px;
    overflow: hidden;
}

.orders-link-box {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    width: 230px;
    padding-bottom: 20px;
}

.download-app {
    width: 228px;
    height: 165px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

.download-app .qrcode-box {
    margin: 10px auto 0 auto;
}
.download-app .qrcode-box img {
    width: 95px;
    height: 95px;
    margin: 0 auto;
    display: block;
}
.download-app .qrcode-box p {
    text-align: center;
}
.download-app .app-name {
    font-size: 16px;
    color: #222222;
    font-weight: 500;
}
.download-app .red {
    color: #EC5330;
    margin-right: 5px;
}

.download-app .gary {
    color: #3F3F3F;
}

.download-app .sl {
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
}
.orders-link-box .link-group {
    font-size: 16px;
    color: #222222;
    margin: 30px 20px 0 30px;
}

.orders-link-box .link-group .title {
    margin: 12px 0;
}
.orders-link-box .link-group .title a {
    font-size: 16px;
    color: #222222;
    font-weight: 500;
}
.orders-link-box .link-group .link-ul li {
    margin: 15px 0;
}
.orders-link-box .link-group .link-ul li a {
    font-size: 14px;
    color: #666;
}
.orders-link-box .link-group .link-ul .icon-right {
    background-image: url(/images/icon-right.png);
    width: 8px;
    height: 18px;
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    float: right;
}

.orders-box {
    margin-bottom: 90px;
}

.orders-box .orders {
    width: 908px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 20px 20px 0 20px;
    float: right;
    position: relative;
}

.orders-box .orders .orders-head .orders-ul {
    margin-top: 10px;
}

.orders-box .orders .orders-head .orders-ul li {
    font-size: 20px;
    color: #222;
    line-height: 26px;
    float: left;
    width: 105px;
    text-align: center;
    height: 38px;
    margin-right: 25px;
    font-weight: 500;
    cursor: pointer;
}
.orders-box .orders .orders-head .orders-ul .active {
    border-bottom: 2px solid #ffc300;
}
.order-item {
    border-top: 1px solid #E5E5E5;
    padding: 20px 0;
}
.order-item .order-img {
    float: left;
}
.order-item .order-img div {
    width: 90px;
    height: 90px;
    background-image: url(/images/214b8411190e874781fe91dd3096236211567.png);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.order-item .order-img img {
    width: 90px;
    height: 90px;
    border-radius: 4px;
}
.order-item .order-info {
    float: left;
    height: 90px;
    width: 325px;
    position: relative;
}
.order-item .order-info .info-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.order-item .order-info .info-box .order-title {
    font-size: 16px;
    color: #222222;
    margin: 10px 0 10px 15px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
}
.order-item .order-info .info-box .info {
    font-size: 12px;
    color: #666666;
    margin-left: 15px;
    height: 18px;
}
.order-item .order-price {
    float: left;
    font-size: 12px;
    color: #666666;
    line-height: 90px;
    text-align: center;
    width: 200px;
}
.order-item .order-status {
    float: left;
    font-size: 12px;
    color: #333;
    line-height: 90px;
    text-align: center;
    width: 100px;
}
.order-item .order-btn {
    float: right;
    height: 90px;
    line-height: 90px;
    text-align: center;
}
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.btn-box {
    position: absolute;
    left: 45%;
    margin: 20px auto;
}
.left-arrow {
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    margin: 0 8px;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
    float: left;
    margin: 0 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    color: #E5E5E5;
    transition: background-color .5s;
}
.right-arrow {
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    margin: 0 8px;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
    float: left;
    margin: 0 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    transition: background-color .5s;
    color: #E5E5E5;
}

.no-order-text {
    border-top: 1px solid #E5E5E5;
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
    color: #666;
}
