@import "mixins/mixin.scss";
@import "common/var.scss";

@include b(collapse) {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 13px;

}

@include b(collapse-item) {
  @include e(header) {
    display: flex;
    cursor: pointer;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    background: oldlace;
    outline: none;
    margin: 0;
  }


  @include e(wrap) {
    will-change: height;
    background-color: silver;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid  silver;
  }

  @include e(content) {
    padding-bottom: 25px;
    font-size: 14px;
    color: black;
    //line-height: 1.769230769230769;
  }
}

//.collapse-enter-from, .collapse-leave-to {
//  height: 0;
//}

//.collapse-enter-active {
//
//  transition: height 0.5s ease;
//
//}
//
//.collapse-leave-active {
//  transition: height 0.5s ease;
//
//}

// height auto 无法自动实现动画，需要结合动画钩子函数

.collapse-transition {
  transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out;
}


