<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="<%= STATIC %>/css/base.css">
    <link rel="stylesheet" href="<%= STATIC %>/css/public.css">
    <link rel="stylesheet" href="<%= STATIC %>/css/detail.css">
</head>
<body>
    <div class="container detail-wrap">
        <div class="content">
            <div class="breadcrumbs">
                <span>
                    <a href="">北京美团</a>
                    >
                    <a href="">北京美食</a>
                    >
                    <a href="">北京火锅</a>
                </span>
            </div>
            <div class="details clear-float">
                <div class="d-left">
                    <div class="name">
                        佯坊前后涮羊肉（交大店）
                    </div>
                    <div class="score clear">
                        <div class="star-cont">
                            <ul class="stars-ul">
                                <li>
                                    <i class="iconfont icon-xingxing"></i>
                                </li>
                                <li>
                                    <i class="iconfont icon-xingxing"></i>
                                </li>
                                <li>
                                    <i class="iconfont icon-xingxing"></i>
                                </li>
                                <li>
                                    <i class="iconfont icon-xingxing"></i>
                                </li>
                            </ul>
                            <ul class="stars-ul stars-light">
                                <li>
                                    <i class="iconfont icon-xingxing"></i>
                                </li>
                                <li>
                                    <i class="iconfont icon-xingxing"></i>
                                </li>
                                <li>
                                    <i class="iconfont icon-xingxing"></i>
                                </li>
                                <li>
                                    <i class="iconfont icon-xingxing"></i>
                                </li>
                            </ul>
                        </div>
                        <p>
                            5分<span>人均￥67</span>
                        </p>
                    </div>
                    <div class="address">
                        <p>地址：海淀区交大东路94号（四川仁火锅隔壁）
                            <b></b>
                        </p>
                        <p>电话010-82165799</p>
                        <p>营业时间：周一至周日 09:00-23:00</p>
                    </div>
                    <ul class="tags">
                        <li><img src="http://p0.meituan.net/codeman/551290739062eda37e52999e2315f50c1887.png">提供wifi</li>
                        <li><img src="http://p1.meituan.net/codeman/4b1c5696fe5bf2c4d23fb01659b3e68b1960.png">停车位</li>
                    </ul>
                </div>
                <div class="d-right">
                    <div class="imgbox" style="height: 100%; width: 100%;">
                        <img src="https://img.meituan.net/msmerchant/ebcee74bdaa44dcbb85cbc56fc510b98119613.png@380w_214h_1e_1c">
                    </div>
                    <ul>
                        <li>
                            <div class="imgbox" style="height: 100%; width: 100%;"><img src="http://p0.meituan.net/ugcpic/d46238383b3a5318347b059288d18baa@92w_50h_1e_1c"></div>
                        </li>
                        <li>
                            <div class="imgbox" style="height: 100%; width: 100%;"><img src="https://img.meituan.net/msmerchant/12f95a6e795f7cbe12c82bb18603481f1795912.png@92w_50h_1e_1c"></div>
                        </li>
                        <li>
                            <div class="imgbox" style="height: 100%; width: 100%;"><img src="https://img.meituan.net/msmerchant/6684be2d29006ccc3d376cecd0567c461083504.png@92w_50h_1e_1c"></div>
                        </li>
                        <li>
                            <div class="imgbox" style="height: 100%; width: 100%;"><img src="http://p0.meituan.net/ugcpic/d46238383b3a5318347b059288d18baa@92w_50h_1e_1c"></div>
                        </li>
                    </ul>
                </div>
                <div>
                    <!-- 图片框 -->
                    <div class="imageViewer-content" style="display: none">
                        <div class="imgs-content">
                            <div class="header"><span class="iconfont icon-close close"></span></div>
                            <div class="content-arrow-imgs">
                                <div class="figure" style="max-height: 639px;">
                                    <div class="image-box">
                                        <img class="image" src="http://p0.meituan.net/ugcpic/d46238383b3a5318347b059288d18baa@600w_600h_1l" style="cursor: auto;">
                                    </div>
                                    <div class="footer">
                                        <div class="footerCount">
                                            1 / 52
                                        </div>
                                    </div>
                                </div>
                                <div type="button" class="arrow left-arrow"></div>
                                <div type="button" class="arrow right-arrow"></div>
                            </div>
                            <div class="paginatedThumbnails">
                                <div type="button" class="arrow left-arrow"></div>
                                <div class="thumbnails">
                                    <div class="thumbnail"><img src="https://img.meituan.net/msmerchant/d06d4f059139fc19270c8486d7d2de27563571.png@600w_600h_1l"></div>
                                    <div class="thumbnail"><img src="https://img.meituan.net/msmerchant/d06d4f059139fc19270c8486d7d2de27563571.png@600w_600h_1l"></div>
                                    <div class="thumbnail"><img src="https://img.meituan.net/msmerchant/d06d4f059139fc19270c8486d7d2de27563571.png@600w_600h_1l"></div>
                                    <div class="thumbnail"><img src="https://img.meituan.net/msmerchant/d06d4f059139fc19270c8486d7d2de27563571.png@600w_600h_1l"></div>
                                    <div class="thumbnail"><img src="https://img.meituan.net/msmerchant/d06d4f059139fc19270c8486d7d2de27563571.png@600w_600h_1l"></div>
                                    <div class="thumbnail"><img src="https://img.meituan.net/msmerchant/d06d4f059139fc19270c8486d7d2de27563571.png@600w_600h_1l"></div>
                                </div>
                                <div type="button" class="arrow right-arrow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btm-cont">
                <div class="btm-left">
                    <div>
                        <h3>商家团购及优惠</h3>
                        <div class="group hasVouchers">
                            <h4>3款堂食套餐</h4>
                            <div>
                                <div class="one clear-float">
                                    <div class="pic">
                                        <div class="imgbox" style="height: 100%; width: 100%;">
                                            <img src="http://p0.meituan.net/208.126/deal/b96654a786e0a47c35e5aa8fe76bdff847064.jpg@100w_100h_1e_1c">
                                        </div>
                                    </div>
                                    <div class="info clear-float">
                                        <a class="fr buy" href="/meishi/order/buy/28376056">立即抢购</a>
                                        <p class="name">
                                            <span>老北京八人餐，有赠品</span>
                                            <img src="http://p1.meituan.net/codeman/31eac2c905f5be14ce80654d9508e720832.png" class="icon">
                                        </p>
                                        <p class="sale">
                                            已售1430
                                        </p>
                                        <p class="price">
                                            <b>￥</b>
                                            428
                                            <span>门店价￥483</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="line"></div>
                            </div>
                            <div>
                                <div class="one clear-float">
                                    <div class="pic">
                                        <div class="imgbox" style="height: 100%; width: 100%;">
                                            <img src="http://p0.meituan.net/208.126/deal/b96654a786e0a47c35e5aa8fe76bdff847064.jpg@100w_100h_1e_1c">
                                        </div>
                                    </div>
                                    <div class="info clear-float">
                                        <a class="fr buy" href="/meishi/order/buy/28376056">立即抢购</a>
                                        <p class="name">
                                            <span>老北京八人餐，有赠品</span>
                                            <img src="http://p1.meituan.net/codeman/31eac2c905f5be14ce80654d9508e720832.png" class="icon">
                                        </p>
                                        <p class="sale">
                                            已售1430
                                        </p>
                                        <p class="price">
                                            <b>￥</b>
                                            428
                                            <span>门店价￥483</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vouchers">
                        <h4>1张代金券</h4>
                        <div class="one clear-float">
                            <div class="price">
                                <span><b>￥</b>90</span>
                                代100元代金券
                            </div>
                            <div class="name">
                                <a class="fr buy" href="/meishi/order/buy/27052472">立即抢购</a>
                                <a href="">
                                    <p>90元 代100元代金券</p>已售38913
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="recommend">
                        <h3>推荐菜</h3>
                        <div class="cont">
                            <ul class="clear-float">
                                <li>
                                    <div class="pic">
                                        <div class="imgbox" style="height: 100%; width: 100%;">
                                            <img src="http://p0.meituan.net/bbia/d06d4f059139fc19270c8486d7d2de27563571.png@130w_130h_1e_1c">
                                        </div>
                                        <div class="desc">
                                            <span class="truncate">顶排至尊羊肉</span>
                                            <b>￥68</b>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="pic">
                                        <div class="imgbox" style="height: 100%; width: 100%;">
                                            <img src="http://p0.meituan.net/bbia/d06d4f059139fc19270c8486d7d2de27563571.png@130w_130h_1e_1c">
                                        </div>
                                        <div class="desc">
                                            <span class="truncate">顶排至尊羊肉</span>
                                            <b>￥68</b>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="pic">
                                        <div class="imgbox" style="height: 100%; width: 100%;">
                                            <img src="http://p0.meituan.net/bbia/d06d4f059139fc19270c8486d7d2de27563571.png@130w_130h_1e_1c">
                                        </div>
                                        <div class="desc">
                                            <span class="truncate">顶排至尊羊肉</span>
                                            <b>￥68</b>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="pic">
                                        <div class="imgbox" style="height: 100%; width: 100%;">
                                            <img src="http://p0.meituan.net/bbia/d06d4f059139fc19270c8486d7d2de27563571.png@130w_130h_1e_1c">
                                        </div>
                                        <div class="desc">
                                            <span class="truncate">顶排至尊羊肉</span>
                                            <b>￥68</b>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="pic">
                                        <div class="imgbox" style="height: 100%; width: 100%;">
                                            <img src="http://p0.meituan.net/bbia/d06d4f059139fc19270c8486d7d2de27563571.png@130w_130h_1e_1c">
                                        </div>
                                        <div class="desc">
                                            <span class="truncate">顶排至尊羊肉</span>
                                            <b>￥68</b>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="pic">
                                        <div class="imgbox" style="height: 100%; width: 100%;">
                                            <img src="http://p0.meituan.net/bbia/d06d4f059139fc19270c8486d7d2de27563571.png@130w_130h_1e_1c">
                                        </div>
                                        <div class="desc">
                                            <span class="truncate">顶排至尊羊肉</span>
                                            <b>￥68</b>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="list clear-float"><span>麻酱</span><span>酸梅汤</span><span>免费西瓜</span><span>羊蝎子</span><span>小料</span><span>手擀面</span><span>号肥牛</span><span>清汤锅</span><span>老北京铜锅涮肉</span><span>沙葱羊肉</span><span>鲜豆腐</span><span>银耳汤</span><span>糖蒜</span><span>麻辣嫩牛肉</span><span>老北京火锅</span><span>锅巴</span><span>加钙羊肉</span><span>机器人刀削面</span><span>土豆片</span><span>黑毛肚</span><span>白萝卜</span><span>爆肚</span><span>长寿面</span><span>辣锅</span><span>沙葱肥牛</span><span>银耳莲子羹</span><span>面片</span><span>鱼皮脆</span><span>鱼豆腐</span><span>鸡肉片</span><span>蘑菇拼盘</span><span>大红袍</span><span>龙利鱼片</span><span>江米条</span><span>宽粉</span><span>白菜心</span><span>肥牛上脑</span><span>扯面</span><span>羊肉火锅</span><span>特制酱料</span><span>腱子肉</span><span>生菜</span><span>肥牛一号</span><span>粉丝</span></div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="total">
                            <div class="sort">
                                <span class="on">质量排序</span>
                                <span class="">时间排序</span>
                            </div>
                            3513条网友点评
                        </div>
                        <div class="com-cont">
                            <ul class="tags clear-float">
                                <li class="onSel">分量足(447)</li>
                                <li class="">菜品不错(302)</li>
                                <li class="">上菜快(207)</li>
                                <li class="">回头客(186)</li>
                                <li class="">交通便利(13)</li>
                                <li class="">停车免费(5)</li>
                                <li class="">海鲜棒(3)</li>
                                <li class="">朋友聚餐(11)</li>
                                <li class="">请客(5)</li>
                                <li class="">闺蜜聚会(4)</li>
                            </ul>
                            <div class="sea">
                                <span><b class="onSel"></b>只看有图片的评论</span>
                            </div>
                            <div>
                                <div class="list clear-float">
                                    <div class="header">
                                        <div class="imgbox" style="height: 100%; width: 100%;">
                                            <img src="https://img.meituan.net/avatar/711e3bb3d4ca35b7d1394830d9b451a322011.jpg@60w_60h_1e_1c">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">华OvO霞</div>
                                        <div class="date"><span>2019年6月17日</span></div>
                                        <div class="source">
                                            <div class="star-cont">
                                                <ul class="stars-ul">
                                                    <li><i class="iconfont icon-xingxing"></i></li>
                                                    <li><i class="iconfont icon-xingxing"></i></li>
                                                    <li><i class="iconfont icon-xingxing"></i></li>
                                                    <li><i class="iconfont icon-xingxing"></i></li>
                                                    <li><i class="iconfont icon-xingxing"></i></li>
                                                </ul>
                                                <ul class="stars-ul stars-light" style="width: 84px;">
                                                    <li><i class="iconfont icon-xingxing"></i></li>
                                                    <li><i class="iconfont icon-xingxing"></i></li>
                                                    <li><i class="iconfont icon-xingxing"></i></li>
                                                    <li><i class="iconfont icon-xingxing"></i></li>
                                                    <li><i class="iconfont icon-xingxing"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            带孩子去动物园，出来就过来了，从动物园走过来不远，过一个马路的样子，不过出来去西直门地铁站走了有一会。这家店环境不错，美团价格优惠，自助的小料台和水果小吃台很赞，还有银耳雪梨汤，服务员都特别热情，还帮我照顾我家闺女，实名表扬下可爱的服务员小姐姐小妹妹们，给五星好评。 #鸳鸯锅# #内蒙古羔羊肉# #老北京涮羊肉# #自制鲜虾滑# #机器人刀削面# #内蒙古羊肉卷#
                                        </div>
                                        <div class="reply">
                                            商家回复：您好，非常感谢您对我们的认可与评价，我们一定会继续努力做得更好，前后涮羊肉祝您生活愉快！期待您的下次光临！
                                        </div>
                                        <div class="noShowBigImg">
                                            <div>
                                                <div class="imageViewer-content com-image-viewer iconfont">
                                                    <div class="imgs-content">
                                                        <div class="header">
                                                            <span class="iconfont icon-close_icon close"></span>
                                                        </div><div class="content-arrow-imgs">
                                                            <div class="figure" style="max-height: 171px;">
                                                                <div class="image-box">
                                                                    <img class="image" src="http://p0.meituan.net/shaitu/502a2032b4daf76b0e35e59aa4eea0a3178773.jpg" style="cursor: auto;">
                                                                </div>
                                                            </div>
                                                            <div type="button" class="arrow right-arrow">
                                                                <i class=" iconfont icon-arrow-right-"></i>
                                                            </div>
                                                            <div type="button" class="arrow left-arrow">
                                                                <i class=" iconfont icon-arrow-left-"></i>
                                                            </div>
                                                        </div>
                                                        <div class="paginatedThumbnails">
                                                            <div class="thumbnails">
                                                                <div class="thumbnail active">
                                                                    <img src="http://p0.meituan.net/shaitu/502a2032b4daf76b0e35e59aa4eea0a3178773.jpg">
                                                                </div>
                                                                <div class="thumbnail">
                                                                    <img src="http://p0.meituan.net/shaitu/261c4ee1b6654c9f24bda5256c2005c4167177.jpg">
                                                                </div>
                                                                <div class="thumbnail">
                                                                    <img src="http://p0.meituan.net/shaitu/c2ce22416820df2f4ad37229715d276e143945.jpg">
                                                                </div>
                                                                <div class="thumbnail">
                                                                    <img src="http://p1.meituan.net/shaitu/23d1d681c68887146fe0d2f0a621a629132487.jpg">
                                                                </div>
                                                                <div class="thumbnail">
                                                                    <img src="http://p1.meituan.net/shaitu/2409235e6b53e8ed7ff311dea8b94f47199076.jpg">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="like-cont"><div class="like on"><b></b><span>赞</span></div></div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btm-right">
                    <div class="guess-you-like">
                        <h4>猜你喜欢</h4>
                        <ul>
                            <li>
                                <a href="">
                                    <div class="pic">
                                        <div class="imgbox" style="height: 100%; width: 100%;">
                                            <img src="http://p0.meituan.net//merchantpic/e3f61992caf9efaf93750bfc7fd88b7e33151.jpg@188w_106h_1e_1c">
                                        </div>
                                    </div>
                                    <p class="name">Visual Salon 视觉造型·e万造型（顺义店）</p>
                                    <p class="desc">顺义城区</p>
                                    <p class="price"><b>￥</b>19.9</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="pic">
                                        <div class="imgbox" style="height: 100%; width: 100%;">
                                            <img src="http://p0.meituan.net//merchantpic/e3f61992caf9efaf93750bfc7fd88b7e33151.jpg@188w_106h_1e_1c">
                                        </div>
                                    </div>
                                    <p class="name">Visual Salon 视觉造型·e万造型（顺义店）</p>
                                    <p class="desc">顺义城区</p>
                                    <p class="price"><b>￥</b>19.9</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>