@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Reset----------------------------------- */
/* ---------------------------------------------------------------------------- */
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table, table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

img {
    vertical-align: top;
}

embed {
    vertical-align: top;
}

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block;
}

mark, rp, rt, ruby, summary, time {
    display: inline;
}

input, textarea {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
}

iframe {
    border: 0;
    margin: 0;
    padding: 0;
}

input, textarea, select {
    margin: 0;
    padding: 0px;
}


/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

html {
     -webkit-text-size-adjust: none;
}

.video embed, .video object, .video iframe {
     width: 100%;
      height: auto;
}

img {
    max-width: 100%;
    height: auto;
    width: auto \9; /* ie8 */
}

a {
    color: #434343;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    font-size: 25px;
    line-height: 25px;
}

h3, h4 {
    font-size: 20px;
    line-height: 20px;
}

h5, h6 {
    font-size: 16px;
    line-height: 16px;
}

p {
    margin: 10px 0;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.post {
}

.post:after, .post:before, article:after, article:before, section:after, section:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clear {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:after, .clearfix:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.bg-theme {
    background: #2D88CF;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #F7F7F7;
    color: #3F3F3F;
    font: 14px/25px Arial, Helvetica, sans-serif;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
}

body .wrap-body {
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Header--------------------------------- */
/* ---------------------------------------------------------------------------- */
header {
}

header .wrap-header {
}


header .logo img {
    display: inline-block;
    margin: auto;
    padding: 10px;
    max-width: 210px;
}

@media all and (max-width: 768px) {
    header .logo {
        text-align: center;
        width: 100%;
    }

    header .logo img {
        display: block;
    }
}

.filter {
    padding: 30px 0;
    color: #fff;
}

.filter h2 {
    font-size: 33px;
    margin-bottom: 25px;
    font-weight: 600;
}

.filter select {
    width: 100%;
    padding: 9px;
    outline: none;
    box-shadow: none;
    margin-top: 5px;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Container------------------------------ */
/* ---------------------------------------------------------------------------- */
.container {
}

.container .wrap-container {
}

.header {
    margin: 10px 0;
}

.header h2 {
    font-size: 27px;
    letter-spacing: 2px;
}

.header h1 {
    font-size: 36px;
    letter-spacing: 2px;
    margin: 40px 5px 15px;
    line-height: 1.1;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 28px;
        letter-spacing: 1px;
        margin: 35px 5px 10px;
        line-height: 1.1;
    }
}


/* ---MainContent-Article--- */
.main-content {
}

.main-content .wrap-box {
    padding: 30px 0px;
    position: relative;
}

.main-content .wrap-box h2 {
    margin: 10px 0 20px;
}


article {
    margin-bottom: 50px;
}

article:after, article:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

article .art-header {
}

article .info {
    margin: 20px 0;
}

article .art-content {
}

.price {
    color: #1db185;
    font-size: 48px;
    line-height: 1;
    font-weight: bold;
}

@media (max-width: 768px) {
    .price {
        font-size: 30px;
    }
}

.specs {
    list-style: none;
    line-height: 30px;
}

.specs li {
    overflow: hidden;
}

.specs strong {
    display: inline-block;
    min-width: 45%;
    color: #222423;
    font-weight: 500;
    font-size: 15px;
}

.specs span {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: #717574;
}

.info {
    padding-bottom: 40px;
}

.info h3 {
    margin-bottom: 10px;
}

/* ---Sidebar-Widget--- */
.sidebar {
}

.sidebar .wrap-sidebar {
    margin: 0px 10px;
}

.widget {
    margin-bottom: 30px;
    padding: 0 20px;
}

.widget ul li {
    line-height: 2.8;
    border-bottom: 2px solid #DDD;
}

.widget:after, .widget:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.widget .wid-header, .contact-header {
    background-color: #2D88CF;
    padding: 15px 20px;
}

.widget .wid-header h5, .contact-header h5 {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
}

.widget .wid-content {
    padding: 20px;
    background-color: #fff;
}

.post:after, .post:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.post img {
    float: left;
    margin: 15px 10px;
    width: 100px;
}

.post .wrapper {
    vertical-align: middle;
    text-align: left;
    line-height: 1.4em;
    padding-bottom: 7px;
    margin-top: 20px;
    display: inline-block;
}

.post .wrapper span {
    font-size: 17px;
    line-height: 3;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer {
    background: #fff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    text-align: center;
}

footer .wrap-footer {
    color: #666;
    font-size: 13px;
    padding: 40px 20px;
}

footer .wrap-footer h3 {
    margin-bottom: 10px;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Button--------------------------------- */
/* ---------------------------------------------------------------------------- */
a.button {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border: 1px solid #ffffff;
    display: inline-block;
    text-decoration: none;
    background: #303030;
    margin: 5px 0;
    text-transform: uppercase;
    color: #fff;
}

a.button:hover {
    opacity: 0.9;
}

a.button.bt1 {
    background: #434343;
    color: #ffffff;
    padding: 5px 20px;
    width: 100%;
    text-align: center;
    border: 1px solid #474747;
}

a.button.bt2 {
    background: #0000ff;
    color: #ffffff;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */
.contact h2 {
}

#contact_form {
    padding: 10px 25px 25px;
    background: #fff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.ff label {
    cursor: pointer;
    display: block;
    font-weight: bold;
}

.ff input {
    display: block;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #000;
    border: 1px solid #AFAFAF;
    padding: 12px;
    margin: 5px 0 10px 0;
    font-size: 16px;
    max-height: 45px;
}

.ff textarea {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #fff;
    color: #000;
    border: 1px solid #AFAFAF;
    padding: 10px;
    margin: 5px 0 25px 0;
}

.ff .sendButton {
    cursor: pointer;
    background-color: #AFAFAF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;;
    width: 35%;
    color: #ffffff;
}

.ff .sendButton:hover {
    opacity: 0.8;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------Item-Effect---------------------------------- */
/* ---------------------------------------------------------------------------- */
.item {
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.item .item-info {
    margin-top: 30px;
    padding-bottom: 20px;
}

.item .item-info a {
    color: #444;
}

.item .item-container {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.item .item-container img {
    display: block;
    width: 100%;
    height: auto;

}

.item .item-container .item-caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 10px;
    background: none;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

.item .item-caption-inner {
    display: table;
    width: 100%;
    height: 100%;
}

.item .item-caption-inner1 {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.item-container .item-caption h3, .item-container .item-caption span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: none;
}

.item-container .item-caption h3 {
    font-size: 23px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.item-container .item-caption span {
    font-style: italic;
    font-size: 12px;
}

.item .item-container:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(32, 152, 209, 0.7);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.item:hover {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.item:hover .item-container:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.item:hover .item-container .item-caption span {
    display: block;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Menu------------------------------------ */
/* ---------------------------------------------------------------------------- */
.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul li a,
.cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cssmenu:after,
.cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.cssmenu #menu-button {
    display: none;
}

.cssmenu {
    z-index: 999;
    display: inline-block;
    float: right;

}

.cssmenu > ul > li {
    float: left;
}

.cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}

.cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}

.cssmenu.align-center ul ul {
    text-align: left;
}

.cssmenu.align-right > ul > li {
    float: right;
}

.cssmenu > ul > li > a {
    padding: 27px 17px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.cssmenu > ul > li:hover > a {
    background: #2672AD;
}

.cssmenu ul ul {
    position: absolute;
    left: -9999px;
}

.cssmenu.align-right ul ul {
    text-align: right;
}

.cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.cssmenu li:hover > ul {
    left: auto;
}

.cssmenu.align-right li:hover > ul {
    left: auto;
    right: 0;
}

.cssmenu li:hover > ul > li {
    height: 35px;
}

.cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}

.cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}

.cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    color: #dddddd;
    font-weight: 400;
    background: #3B3B3B;
}

.cssmenu ul ul li:last-child > a,
.cssmenu ul ul li.last-item > a {
    border-bottom: 0;
}

.cssmenu ul ul li:hover > a,
.cssmenu ul ul li a:hover {
    color: #ffffff;
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .cssmenu {
        width: 100%;
        background: #3b3b3b;
        margin: 0 0 50px;
    }

    .cssmenu ul {
        width: 100%;
        display: none;
    }

    .cssmenu.align-center > ul {
        text-align: left;
    }

    .cssmenu ul li {
        width: 100%;
        border-top: 1px solid rgba(120, 120, 120, 0.2);
    }

    .cssmenu ul ul li,
    .cssmenu li:hover > ul > li {
        height: auto;
    }

    .cssmenu ul li a,
    .cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0;
    }

    .cssmenu > ul > li {
        float: none;
    }

    .cssmenu ul ul li a {
        padding-left: 25px;
    }

    .cssmenu ul ul ul li a {
        padding-left: 35px;
    }

    .cssmenu ul ul li a {
        color: #dddddd;
        background: none;
    }

    .cssmenu ul ul li:hover > a,
    .cssmenu ul ul li.active > a {
        color: #ffffff;
    }

    .cssmenu ul ul,
    .cssmenu ul ul ul,
    .cssmenu.align-right ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left;
    }

    .cssmenu #menu-button {
        display: block;
        padding: 17px;
        color: #dddddd;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .cssmenu #menu-button:after {
        position: absolute;
        top: 22px;
        right: 17px;
        display: block;
        height: 4px;
        width: 20px;
        border-top: 2px solid #dddddd;
        border-bottom: 2px solid #dddddd;
        content: '';
    }

    .cssmenu #menu-button:before {
        position: absolute;
        top: 16px;
        right: 17px;
        display: block;
        height: 2px;
        width: 20px;
        background: #dddddd;
        content: '';
    }

    .cssmenu #menu-button.menu-opened:after {
        top: 23px;
        border: 0;
        height: 2px;
        width: 15px;
        background: #ffffff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .cssmenu #menu-button.menu-opened:before {
        top: 23px;
        background: #ffffff;
        width: 15px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(120, 120, 120, 0.2);
        height: 46px;
        width: 46px;
        cursor: pointer;
    }

    .cssmenu .submenu-button.submenu-opened {
        background: #262626;
    }

    .cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px;
    }

    .cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #dddddd;
        content: '';
    }

    .cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px;
    }

    .cssmenu .submenu-button.submenu-opened:after {
        background: #ffffff;
    }

    .cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #dddddd;
        content: '';
    }

    .cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px;
    }

    .cssmenu .submenu-button.submenu-opened:before {
        display: none;
    }
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------Slider------------------------------------- */
/* ---------------------------------------------------------------------------- */
.rslides {
}

.banner_container {
    z-index: 99;
    position: relative;
    float: left;
    width: 100%;
}

.banner {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.banner li {
    position: absolute;
    width: 100%;
    opacity: 0;
    z-index: 1;
    left: 0;
    top: 0;
}

.banner img {
    display: block;
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
    border: 0;
}

.banner .caption {
    display: block;
    position: absolute;
    z-index: 2;
    text-shadow: none;
    color: #fff;
    background: #000;
    background: rgba(0, 0, 0, .7);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 20px 10px;
    text-align: center;
    margin: 0;
    max-width: none;
}

.banner .caption h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.banner .caption span {
    font-size: 24px;
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .callbacks .caption {
        padding: 12px 10px 5px;
    }

    .callbacks .caption h1 {
        font-size: 20px;
        margin-bottom: 0;
        line-height: 1.2;
    }

    .callbacks .caption span {
        font-size: 12px;
        line-height: 1.2;
    }
}

@media (max-width: 468px) {
    .callbacks .caption {
        display: none;
    }
}

.banner_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 52%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../images/themes.gif") no-repeat left top;
    margin-top: -45px;
}

.banner_nav:active {
    opacity: 1.0;
}

.banner_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}
