body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input, i, b {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
}

ul, ol {
    list-style-type: none;
}

select, input, img {
    vertical-align: middle;
    outline: none;
}

a {
    text-decoration: none;
}

a {
    blr: "expression(this.onFocus=this.blur())"
}

a {
    outline: none;
}

html {
    overflow-x: hidden;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

body {
    background: #f5f5f5;
}

.container {
    width: 980px;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    border-top: none;
    /*border-bottom:;*/
}

.cm-list {
    width: 240px;
    background: #f9f9f9;
}

.cm-detail {
    padding: 40px 30px 40px 39px;
    width: 669px;
    background: #FFF;
    border-left: 1px solid #d5d5d5;
}

.m-brand-list {
    margin-top: 40px;
}

.m-brand-list dt {
    font-size: 14px;
    font-weight: bold;
    font-family: simsun, 宋体;
    color: #000;
    padding: 0px 10px 12px 15px;
}

.m-brand-list dd {
    padding: 12px 10px;
    width: 220px;
    height: 38px;
    cursor: pointer;
}

.m-brand-list dd:hover {
    background: #f2f2f2;
}

.m-brand-list dd.active {
    background: #e6e6e6;
}

.m-brand-list dd .s-title {
    margin-left: 10px;
}

.m-brand-list dd a {
    display: block;
    margin-top: 2px;
    color: #000;
    font-size: 12px;
}

.m-brand-list dd span {
    display: block;
    margin-top: 6px;
    color: #999;
    font-size: 12px;
}

.m-banner .img {
    padding: 3px;
    background: #FFF;
    border: 1px solid #CCC;
}

.m-banner .desc {
    margin-left: 29px;
}

.m-banner .desc .info {
    margin-top: 13px;
    line-height: 13px;
    height: 13px;
    font-size: 12px;
    color: #666;
}

.m-banner .desc .time {
    width: 13px;
    height: 13px;
    display: inline-block;
    background: url(../asset/time.png) no-repeat;
}

.m-banner .info span {
    color: #999
}

.m-banner .btns {
    margin-top: 20px;
}

.m-banner .btns a {
    display: inline-block;
    height: 31px;
    line-height: 30px;
    min-width: 23px;
    padding-left: 28px;
    padding-right: 7px;
    font-size: 12px;
    color: #333;
    background: url(../asset/button2.png) no-repeat;
    position: relative;
}

.m-banner .btns a::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 31px;
    top: 0;
    right: 0;
    background: url(../asset/button2.png) no-repeat;
}


.m-banner .btns a.play-btn {
    color: #FFF;
    padding-left: 35px;
    padding-right: 10px;
    background-position: 0 -633px;
}

.m-banner .btns a.play-btn:after {
    background-position: -245px -676px;
}

.m-banner .btns a.play-btn:hover {
    background-position: 0 -719px;
}

.m-banner .btns a.play-btn:hover:after {
    background-position: -245px -762px;
}


.m-banner .btns a.fav-btn {
    background-position: 0 -977px;
}

.m-banner .btns a.fav-btn:after {
    background-position: -245px -1020px;
}

.m-banner .btns a.fav-btn:hover {
    background-position: 0 -1063px;
}

.m-banner .btns a.fav-btn:hover:after {
    background-position: -245px -1106px;
}


.m-banner .btns a.share-btn {
    background-position: 0 -1225px;
}

.m-banner .btns a.share-btn:after {
    background-position: -245px -1020px;
}

.m-banner .btns a.share-btn:hover {
    background-position: 0 -1268px;
}

.m-banner .btns a.share-btn:hover:after {
    background-position: -245px -1106px;
}


.m-banner .btns a.comment-btn {
    background-position: 0 -1465px;
}

.m-banner .btns a.comment-btn:after {
    background-position: -245px -1020px;
}

.m-banner .btns a.comment-btn:hover {
    background-position: 0 -1508px;
}

.m-banner .btns a.comment-btn:hover:after {
    background-position: -245px -1106px;
}


.m-title {
    margin-top: 45px;
    height: 35px;
}

.m-title h3 {
    font-size: 20px;
    color: #333;
    height: 29px;
    line-height: 28px;
}

.m-title .count {
    margin-left: 20px;
    margin-top: 9px;
    font-size: 12px;
    color: #666;
}

.m-title .plays {
    margin-top: 5px;
    font-size: 12px;
    color: #666;
}

.m-title .plays span {
    color: #C20C0C;
}


.s-table {
    border-top: 2px solid #c20c0c;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

.s-table .th {
    background: url(../asset/th_bg.png) repeat-x;
    border: 1px solid #d9d9d9;
    padding: 11px 8px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    margin-right: -1px;
}

.s-table .tr {
    border: 1px solid #d9d9d9;
    border-top: none;
    border-bottom: none;
}

.s-table .td {
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #333;
}

.s-table .even {
    background: #f7f7f7;
}

.col-1 {
    width: 62px;
}

.col-2 {
    width: 390px;
}

.col-3 {
    width: 74px;
}

.center {
    text-align: center;
}
