<div class="com-footer">
    <div class="footer-content">
        <div class="footer-link clear-float clearfix">
            <div class="footer-column">
                <dl>
                    <dt>用户帮助</dt>
                    <dd><a href="">申请退款</a></dd>
                    <dd><a href="">查看美团券密码</a></dd>
                    <dd><a href="">常见问题</a></dd>
                    <dd><a href="">用户协议</a></dd>
                    <dd><a href="">隐私政策</a></dd>
                    <dd><a href="">反诈骗公告</a></dd>
                    <dd><a href="">消费者权益保障</a></dd>
                </dl>
                <dl>
                    <dt>美团服务</dt>
                    <dd><a href="">美团外卖</a></dd>
                    <dd><a href="">美团酒店</a></dd>
                    <dd><a href="">猫眼电影</a></dd>
                    <dd><a href="">美团配送</a></dd>
                    <dd><a href="">美团云</a></dd>
                    <dd><a href="">大众点评</a></dd>
                    <dd><a href="">榛果民宿</a></dd>
                    <dd><a href="">无人配送</a></dd>
                </dl>
            </div>
            <div class="footer-column">
                <dl>
                    <dt>商家合作</dt>
                    <dd><a href="">美食商家入驻(非外卖)</a></dd>
                    <dd><a href="">美团外卖开店申请</a></dd>
                    <dd><a href="">美团收银官网</a></dd>
                    <dd><a href="">外卖配送加盟申请</a></dd>
                    <dd><a href="">美团点评餐饮学院</a></dd>
                    <dd><a href="">酒店商家入驻</a></dd>
                    <dd><a href="">境内度假商家入驻</a></dd>
                    <dd><a href="">综合商家入驻</a></dd>
                    <dd><a href="">榛果民宿房东商家入驻</a></dd>
                    <dd><a href="">商家开票申请</a></dd>
                    <dd><a href="">美团点评智能收银机</a></dd>
                    <dd><a href="">聚宝盆餐饮开放平台</a></dd>
                    <dd><a href="">美团点评收单</a></dd>
                    <dd><a href="">免费使用美团排队</a></dd>
                    <dd><a href="">快驴进货商家合作</a></dd>
                    <dd><a href="">美团闪购商家入驻</a></dd>
                </dl>
            </div>
            <div class="footer-column">
                <dl>
                    <dt>代理商加盟</dt>
                    <dd><a href="">美团外卖代理商招募</a></dd>
                    <dd><a href="">到店餐饮代理商招募</a></dd>
                    <dd><a href="">非餐饮代理商招募</a></dd>
                    <dd><a href="">美团联盟</a></dd>
                    <dd><a href="">美团收银招募线上分销商</a></dd>
                    <dd><a href="">美团点评5S服务商招募</a></dd>
                    <dd><a href="">美团收单渠道代理商招募</a></dd>
                </dl>
                <dl>
                    <dt>美团规则</dt>
                    <dd><a href="">规则中心</a></dd>
                    <dd><a href="">规则目录</a></dd>
                    <dd><a href="">规则评议院</a></dd>
                </dl>
            </div>
            <div class="footer-column">
                <dl>
                    <dt>关注美团</dt>
                    <dd><a href="">美团新浪微博</a></dd>
                </dl>
                <dl>
                    <dt>公司信息</dt>
                    <dd><a href="">关于我们</a></dd>
                    <dd><a href="">投资者关系</a></dd>
                    <dd><a href="">加入我们</a></dd>
                    <dd><a href="">商户诚信公约及管理办法</a></dd>
                    <dd><a href="">保险经纪资质</a></dd>
                </dl>
            </div>
            <div class="footer-column">
                <dl>
                    <dt>消费者服务热线</dt>
                    <dd><a href="">外卖消费者：10109777</a></dd>
                    <dd><a href="">猫眼消费者：10105335</a></dd>
                    <dd><a href="">其他消费者：10107888</a></dd>
                </dl>
                <dl>
                    <dt>商家服务热线</dt>
                    <dd><a href="">外卖&餐饮商家：10105557</a></dd>
                    <dd><a href="">休闲娱乐、丽人、ktv、教育、结婚、亲子、家装等商家：10100107</a></dd>
                </dl>
                <dl>
                    <dt>投诉举报热线</dt>
                    <dd><a href="">违法和不良信息举报电话：4006018900</a></dd>
                    <dd><a href="">举报邮箱：tousujubao@meituan.com</a></dd>
                </dl>
                <dl>
                    <dt><a href="">商家自助入驻美团入口</a></dt>
                </dl>
            </div>
        </div>
        <div class="footer-copyright clear-float">
            <div class="footer-copyright-left">
                <p>©美团网团购 meituan.com <a href="" style="margin-left: 20px;">京ICP证070791号</a>   <a href="">京ICP备10211739号</a></p>
                <p><a href="">广播电视节目制作经营许可证（京）字第03889号</a></p>
                <p><a href="">食品经营许可证</a><a href="">互联网药品信息服务资格证</a></p>
                <p><a href="">医疗器械网络交易服务第三方平台备案：（京）网械平台备字[2018]第00004号</a></p>
            </div>
            <div class="footer-copyright-right">
                <a href="">京公网安备11010502025545号</a>
                <div class="footer-copyright-cert clear-float">
                    <a href="" class="bus-license">
                        <img src="https://p1.meituan.net/travelcube/3e7f8a17e55bace814166b667618b459366061.png@76h_76w_2e">
                        <p>北京三快科技有限公司</p>
                    </a>
                    <a class="sp-ft sp-ft--record" href="" title="备案信息" target="_blank">备案信息</a>
                    <a class="sp-ft sp-ft--knet" href="" title="可信网站认证" target="_blank">可信网站</a>
                    <a class="sp-ft sp-ft--12315" href="" title="12315消费争议" target="_blank">12315消费争议</a>
                </div>
            </div>
        </div>
    </div>
</div>
