<!-- 共用头部 -->
<div class="header">
    <div class="header-bar">
        <div class="container">
            <div class="header-bar-position row line-center">
                <div class="header-location-icon center">
                    <img src="/images/position.png" class="image" alt="">
                </div>
                <div class="current-city">北京</div>
                <div class="change-city"><a href="">切换城市</a></div>
                <div class="near-citys">
                    [
                    <a href="" class="city-guess">门头沟区</a>
                    <a href="" class="city-guess">大厂回族自治县</a>
                    <a href="" class="city-guess">廊坊</a>
                    ]
                </div>
                <div class="user-entry">
                    <a href="" class="growth-entry user-up">立即登录</a>
                    <a href="" class="extra-entry">注册</a>
                </div>
            </div>
            <div class="header-bar-nav">
                <ul class="header-nav-first">
                    <li class="has-child active">
                        <a href="">我的美团</a>
                        <ul class="header-nav-my header-nav-second" style="display: none">
                            <li>
                                <a href="">我的订单</a>
                            </li>
                            <li>
                                <a href="">我的收藏</a>
                            </li>
                            <li>
                                <a href="">抵用券</a>
                            </li>
                            <li>
                                <a href="">账户设置</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">手机APP</a>
                    </li>
                    <li class="has-child active">
                        <a href="">商家中心</a>
                        <ul class="header-nav-merchant header-nav-second" style="display: none">
                            <li>
                                <a href="">商家登录中心</a>
                            </li>
                            <li>
                                <a href="">美团智能收银</a>
                            </li>
                            <li>
                                <a href="">我想合作</a>
                            </li>
                            <li>
                                <a href="">手机免费开店</a>
                            </li>
                            <li>
                                <a href="">餐饮代理商招募</a>
                            </li>
                            <li>
                                <a href="">商家申请开票</a>
                            </li>
                            <li>
                                <a href="">免费合作美团排队</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-child active">
                        <a href="">美团规则</a>
                        <ul class="header-nav-my header-nav-second" style="display: none">
                            <li>
                                <a href="">规则中心</a>
                            </li>
                            <li>
                                <a href="">规则目录</a>
                            </li>
                            <li>
                                <a href="">规则评议院</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-child active">
                        <a href="">网站导航</a>
                        <div class="header-nav-site header-nav-second" style="display: none">
                            <dl class="header-jiulv header-nav-third">
                                <dt>酒店旅游</dt>
                                <dd><a href="">酒店旅游</a></dd>
                                <dd><a href="">火车票</a></dd>
                                <dd><a href="">榛果民宿</a></dd>
                                <dd><a href="">经济型酒店</a></dd>
                                <dd><a href="">主题酒店</a></dd>
                                <dd><a href="">商务酒店</a></dd>
                                <dd><a href="">公寓</a></dd>
                                <dd><a href="">豪华酒店</a></dd>
                                <dd><a href="">客栈</a></dd>
                                <dd><a href="">青年旅社</a></dd>
                            </dl>
                            <dl class="header-meishi header-nav-third">
                                <dt>吃美食</dt>
                                <dd><a href="">酒店旅游</a></dd>
                                <dd><a href="">火车票</a></dd>
                                <dd><a href="">榛果民宿</a></dd>
                                <dd><a href="">经济型酒店</a></dd>
                                <dd><a href="">主题酒店</a></dd>
                                <dd><a href="">商务酒店</a></dd>
                                <dd><a href="">公寓</a></dd>
                                <dd><a href="">豪华酒店</a></dd>
                                <dd><a href="">客栈</a></dd>
                                <dd><a href="">青年旅社</a></dd>
                            </dl>
                            <dl class="header-movie header-nav-third">
                                <dt>看电影</dt>
                                <dd><a href="">酒店旅游</a></dd>
                                <dd><a href="">火车票</a></dd>
                                <dd><a href="">榛果民宿</a></dd>
                                <dd><a href="">经济型酒店</a></dd>
                                <dd><a href="">主题酒店</a></dd>
                                <dd><a href="">商务酒店</a></dd>
                            </dl>
                            <dl class="header-app header-nav-third">
                                <dt>手机应用</dt>
                                <dd>
                                    <a href="">
                                        <img class="appicon"
                                             src="http://s0.meituan.net/bs/fe-web-meituan/2d53095/img/appicons/meituan.png"
                                             title="美团app" alt="美团app">
                                    </a>
                                </dd>
                                <dd>
                                    <a href="">
                                        <img class="appicon"
                                             src="http://s1.meituan.net/bs/fe-web-meituan/404d350/img/appicons/waimai.png"
                                             title="外卖app" alt="外卖app">
                                    </a>
                                </dd>
                                <dd>
                                    <a href="">
                                        <img class="appicon"
                                             src="http://s0.meituan.net/bs/fe-web-meituan/2d53095/img/appicons/meituan.png"
                                             title="美团app" alt="美团app">
                                    </a>
                                </dd>
                                <dd>
                                    <a href="">
                                        <img class="appicon"
                                             src="http://s1.meituan.net/bs/fe-web-meituan/404d350/img/appicons/waimai.png"
                                             title="外卖app" alt="外卖app">
                                    </a>
                                </dd>
                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-content container clear-float">
        <div class="header-title-module">
            <div class="header-title">
                <img src="http://s0.meituan.net/bs/fe-web-meituan/fa5f0f0/img/logo.png" alt="美团">
            </div>
        </div>
        <div id="header_search"></div>
        <script>
            ReactDOM.render(
                React.createElement(HeaderSearch),
                document.getElementById('header_search')
            );
        </script>
    </div>
</div>
