.number-input {
  display:inline-block;
  width:132px;height:30px;
  border:1px solid #ddd;
}
.number-input .btn {
  width:35px;height:30px;line-height:30px;
  border-right:1px solid #ddd;
  text-align:center;
  font-size:18px;font-weight:700;
  color:#666;
}
.number-input .btn-minus {border-right:none;border-left:1px solid #ddd;}
.number-input .btn-disabled {color:#CCC;cursor:not-allowed;}
.number-input .number {width:60px;text-align:center;height:30px;font-size:12px;}
